<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시대 현황 및 위치</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <meta http-ｅquiv="X-UA-Compatible" content="IE=edge" />
    <link href="/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/layout.css?version=1.1" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="js-include-header" th:replace="/html/header :: header"></div>
<div id="js-include-gnb" th:replace="/html/gnb :: gnb"></div>
<div id="js-include-tb" th:replace="/html/tb :: tb"></div>
<div class="container m-auto row m-0 min-vh-75">
    <div id="js-include-snb" th:replace="/html/snb :: snb"></div>
    <div id="content" class="body-container pl-0 pr-0 pt-4 pt-lg-5 pb-2 pb-lg-5 pl-lg-5 pr-lg-3">
    <form th:action="@{/items/new}" th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="name">상품명</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">가격</label>
            <input type="number" th:field="*{price}" class="form-control"
                   placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="author">저자</label>
            <input type="text" th:field="*{author}" class="form-control"
                   placeholder="저자를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="isbn">출판사</label>
            <input type="text" th:field="*{isbn}" class="form-control"
                   placeholder="출판사를 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="quality">책 상태</label>
            <input type="text" th:field="*{quality}" class="form-control"
                   placeholder="책 상태를 적어주세요">
        </div>

        <div class="form-group">
            <label th:for="uni">대학 명</label>
            <input type="text" th:field="*{uni}" class="form-control"
                   placeholder="대학 명을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    </div>
</div>
<div id="js-include-wing" th:replace="/html/wing :: wing"></div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>