<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/kakaoAdress.js"></script>

<head>
    <title>게시대 현황 및 위치</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <meta http-ｅquiv="X-UA-Compatible" content="IE=edge" />
    <link href="/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/layout.css?version=1.1" rel="stylesheet" type="text/css" />
    <style>
        .fieldError {
            border-color: #bd2130;
        }
    </style>
</head>
<body>
<div id="js-include-header" th:replace="/html/header :: header"></div>
<div id="js-include-gnb" th:replace="/html/gnb :: gnb"></div>
<div id="js-include-tb" th:replace="/html/tb :: tb"></div>
<div class="container m-auto row m-0 min-vh-75">
    <div id="js-include-snb" th:replace="/html/snb :: snb"></div>
    <div id="content" class="body-container pl-0 pr-0 pt-4 pt-lg-5 pb-2 pb-lg-5 pl-lg-5 pr-lg-3">
    <!--th:object="${memberForm}" Form안에서 이객체를 사용한다는 뜻 model로 받아온 객체-->
    <form role="form" action="/members/new" th:object="${memberForm}" method="post">
        <p class="h2">
            회원 가입
        </p>
        <div class="form-group">
            <label th:for="name">이름</label>
            <!-- th:field="*{name}" id name을 같이 맞춰줌-->
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="user_id">아이디</label>
            <!-- th:field="*{name}" id name을 같이 맞춰줌-->
            <input type="text" th:field="*{user_id}" class="form-control" placeholder="아이디을 입력하세요"
                   th:class="${#fields.hasErrors('user_id')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('user_id')}" th:errors="*{user_id}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="name">비밀번호</label>
            <!-- th:field="*{name}" id name을 같이 맞춰줌-->
            <input type="text" th:field="*{password}" class="form-control" placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="name">E-MAIL</label>
            <!-- th:field="*{name}" id name을 같이 맞춰줌-->
            <input type="text" th:field="*{email}" class="form-control" placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="street">전화번호</label>
            <input type="text" th:field="*{number}"  class="form-control" placeholder="도로명주소를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="city">우편번호</label>
            <input type="text" th:field="*{postnum}" id="sample4_postcode" class="form-control" placeholder="우편번호를 입력하세요">

            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
        </div>
        <div class="form-group">
            <label th:for="street">도로명주소</label>
            <input type="text" th:field="*{street}" id="sample4_roadAddress"  class="form-control" placeholder="도로명주소를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="zipcode">지번주소</label>
            <input type="text" th:field="*{jibun}" id="sample4_jibunAddress" class="form-control" placeholder="지번주소를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="zipcode">상세주소</label>
            <input type="text" th:field="*{detail}" id="sample4_detailAddress" class="form-control" placeholder="상세주소를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="zipcode">참고항목</label>
            <input type="text" th:field="*{zipcode}" id="sample4_extraAddress" class="form-control" placeholder="참고항목을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    </div>
</div>
<div id="js-include-wing" th:replace="/html/wing :: wing"></div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/custom.js"></script>
</body>

</html>