<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>게시대 현황 및 위치</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <meta http-ｅquiv="X-UA-Compatible" content="IE=edge" />
    <link href="/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/layout.css?version=1.1" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="js-include-header" th:replace="/html/header :: header"></div>
<div id="js-include-gnb" th:replace="/html/gnb :: gnb"></div>
<div id="js-include-tb" th:replace="/html/tb :: tb"></div>
<div class="container m-auto row m-0 min-vh-75">
    <div id="js-include-snb" th:replace="/html/snb :: snb"></div>
    <div id="content" class="body-container pl-0 pr-0 pt-4 pt-lg-5 pb-2 pb-lg-5 pl-lg-5 pr-lg-3">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>우편번호</th>
                <th>거리</th>
                <th>지번</th>
                <th>상세</th>
                <th>참고</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
                <!--타임리프에서 ?를 사용하면 null 을 무시한다-->
                <td th:text="${member.address?.postnum}"></td>
                <td th:text="${member.address?.street}"></td>
                <td th:text="${member.address?.jibun}"></td>
                <td th:text="${member.address?.detail}"></td>
                <td th:text="${member.address?.zipcode}"></td>-
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<div id="js-include-wing" th:replace="/html/wing :: wing"></div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>